<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TokenStealer - Logs</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/logs.css') }}" rel="stylesheet">
        <style>
            body {
                background-color: #000;
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Victims</h1>
            {% if not users %}
                <h2>No Victims Found</h2>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Token</th>
                            <th>Handle</th>
                            <th>Mail</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.discord_token }}</td>
                                <td>{{ user.discord_username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>